
@{
    ViewBag.Title = "Index";
}

<h2>Fusion Chart Jquery</h2>
<button id="loadChart">Load Chart</button>
<div id="chart-container"></div>
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/fusionchartjs/fusioncharts.js"></script>
<script src="~/fusionchartjs/fusioncharts-jquery-plugin.js"></script>
<script src="~/fusionchartjs/fusioncharts.charts.js"></script>
<script src="~/fusionchartjs/themes/fusioncharts.theme.carbon.js"></script>
<script src="~/fusionchartjs/themes/fusioncharts.theme.fint.js"></script>
<script src="~/fusionchartjs/themes/fusioncharts.theme.ocean.js"></script>
<script src="~/fusionchartjs/themes/fusioncharts.theme.zune.js"></script>
<script type="text/javascript">
    var data1 = {
        chart: {
            bgcolor : "#ffffff",

            showBorder : "0",
            showShadow : "0",
            showCanvasBorder : "1",
            usePlotGradientColor : "1",
            showYAxisLine : "1px",
            canvasBorderThickness : "1",
            canvasBorderAlpha : "20",

            showLegend : "0",
            labelDisplay : "wrap",

            yAxisName : "[AUBAGIO] MARKET SHARE",
            rotateYAxisName : "90",
            //yAxix show
            showYAxisValues : "1",
            yAxisNameFontBold : "1",
            yAxisNameFontSize : "12",
            yAxisNamePadding : "20",
            divLineColor : "#DDE7E4",
            canvasPadding : "70",
            showAlternateHGridColor : "0",
            divlineThickness : "1",
            divLineIsDashed : "1px",
            divLineDashLen : "0",
            divLineGapLen : "5",

            //show line point
            showValues : "0",
            drawAnchors : "0",

            numberSuffix : "%",
            numberScaleValue : "%",
            yAxisMaxValue : "12",
            yAxisMinValue : "0.0",
            numDivLines : "10",

            //set line dash pattern
            lineDashGap : "10",
            lineDashLen : "10"
        },
        data: [{
            label: "APRIL",
            value: "880000"
        }, {
            label: "MAY",
            value: "730000"
        }, {
            label: "JUNE",
            value: "590000"
        }, {
            label: "JULY",
            value: "520000"
        }, {
            label: "AUGUST",
            value: "330000"
        },
        {
            label: "AUGUST",
            value: "330000"
        },
        {
            label: "SEPTEBER",
            value: "230000"
        },
    {
        label: "OCTOBER",
        value: "130000"
    },
    {
        label: "NOVEMBER",
        value: "30000"
    },
    {
        label: "DECEMBER",
        value: "370000"
    }]
    };

    var data2 = {
        "chart": {
            "caption": "Weather Report",
            "subcaption": "Temperature",
            "xaxisname": "Month",
            "yaxisname": "Degree  (in Fahrenheit)",
            "palette": "2",
            "bgcolor": "FFFFFF",
            "canvasbgcolor": "66D6FF",
            "canvasbgalpha": "5",
            "canvasborderthickness": "1",
            "canvasborderalpha": "20",
            "legendshadow": "0",
            "numbersuffix": "°",
            "showvalues": "0",
            "alternatehgridcolor": "ffffff",
            "alternatehgridalpha": "100",
            "showborder": "0",
            "legendborderalpha": "0",
            "legendiconscale": "1.5",
            "divlineisdashed": "1"
        },
        "categories": [
            {
                "category": [
                    {
                        "label": "Jan"
                    },
                    {
                        "label": "Feb"
                    },
                    {
                        "label": "Mar"
                    },
                    {
                        "label": "Apr"
                    },
                    {
                        "label": "May"
                    },
                    {
                        "label": "Jun"
                    },
                    {
                        "label": "Jul"
                    },
                    {
                        "label": "Aug"
                    },
                    {
                        "label": "Sep"
                    },
                    {
                        "label": "Oct"
                    },
                    {
                        "label": "Nov"
                    },
                    {
                        "label": "Dec"
                    }
                ]
            }
        ],
        "dataset": [
        {
            "seriesname": "New York",
            "color": "F97D10",
            "data": [
                {
                    "value": "-6"
                },
                {
                    "value": "-15"
                },
                {
                    "value": "3"
                },
                {
                    "value": "12"
                },
                {
                    "value": "32"
                },
                {
                    "value": "44"
                },
                {
                    "value": "52"
                },
                {
                    "value": "50"
                },
                {
                    "value": "39"
                },
                {
                    "value": "28"
                },
                {
                    "value": "5"
                },
                {
                    "value": "-13"
                }
            ]
        },
        {
            "seriesname": "Chicago",
            "data": [
                {
                    "value": "-27"
                },
                {
                    "value": "-19"
                },
                {
                    "value": "-8"
                },
                {
                    "value": "7"
                },
                {
                    "value": "24"
                },
                {
                    "value": "36"
                },
                {
                    "value": "40"
                },
                {
                    "value": "41"
                },
                {
                    "value": "28"
                },
                {
                    "value": "17"
                },
                {
                    "value": "1"
                },
                {
                    "value": "-25"
                }
            ]
        },
        {
            "seriesname": "Bismarck",
            "color": "3994F9",
            "data": [
                {
                    "value": "-44"
                },
                {
                    "value": "-43"
                },
                {
                    "value": "-31"
                },
                {
                    "value": "-12"
                },
                {
                    "value": "15"
                },
                {
                    "value": "30"
                },
                {
                    "value": "35"
                },
                {
                    "value": "33"
                },
                {
                    "value": "11"
                },
                {
                    "value": "-10"
                },
                {
                    "value": "-30"
                },
                {
                    "value": "-43"
                }
            ]
        }
        ],
        "styles": {
            "definition": [
                {
                    "name": "captionFont",
                    "type": "font",
                    "size": "15"
                }
            ],
            "application": [
                {
                    "toobject": "caption",
                    "styles": "captionfont"
                }
            ]
        }
    }
    $(document).ready(function () {
        $("#loadChart").click(function () {
            var myChart = new FusionCharts({
                type: 'msline',
                width: '850',
                height: '450',
                dataFormat: 'json',
                dataSource: data2,
            });

            myChart.render("chart-container");
        });

    });
    (function () {
        //console.log($.FusionCharts);
        //$("#chart-container").insertFusionCharts({
        //    type: "column2d",
        //    width: "550",
        //    height: "450",
        //    dataFormat: "json",
        //    dataSource: data1
        //});
        //$("#chart-container").updateFusionCharts({ 'type': 'line' });
    }());
</script>

